<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">User settings</h1>
    <div class="buttons">
      <!-- TODO: logic for closeUserForm to ask whether to save form data -->
      <button class="button button" ng-click="saveUser(userData)">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <!-- TODO: show message about anonymous user, if not from login form and not logged in.
         if from login to register expect blank form,
         otherwise for logged in user, populate
         if no ID, & not registering, we create anonymous

          -->
        <label class="">You are currently anonymous. Save, if I can remember some things for you.</label>
    <form ng-submit="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="userData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="userData.password">
        </label>
        <label class="item item-input">
          <span class="input-label" >How do you use this service?</span>
          <select id="userTypeSelection" ng-model="userData.userType" required onclick="">
            <option value="">---Please select---</option>
            <option value="seeker">Need Help</option>
            <option value="business">Business that can help</option>
            <option value="volunteer">Volunteer</option>
            <option value="provider">Serving Organization</option>
        </label>
        <!-- only show, if business or provider -->
        <div id="businessDataDiv">
         <label class="item item-input">
          <span class="input-label">Organization/Business</span>
          <input type="text" ng-model="userData.Organization">
        </label>
      </div>
        <!-- TODO: only show, if anonymous-->
        <div id="seekerSelectionPanel">
        <label>Tell me about special things about you and your needs.</label>
        <label class="item item-input">
          <span class="input-label">Age Group</span>
          <select ng-model="userData.ageGroup">
              <option value="all" >Not Specified</option>
              <option value="teen">Teen</option>
              <option value="youngAdult">Young Adult (18-24)</option>
              <option value="Adult">Adult</option>
              <option value="Senior">Senior</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">I have children with me</span>
          <input type="checkbox" ng-model="userData.withChildren">
        </label>
        <label class="item item-input">
          <span class="input-label">I'm pregnant</span>
          <input type="checkbox" ng-model="userData.pregnant">
        </label>
        <label class="item item-input">
          <span class="input-label">Gender</span>
          <select ng-model="userData.gender">
              <option value="all" >Not Specified</option>
              <option value="female">Woman</option>
              <option value="male">Man</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Need transgender safe</span>
          <input type="checkbox" ng-model="userData.transgender">
        </label>
        <label class="item item-input">
          <span class="input-label">Seeking safety from voilence</span>
          <input type="password" ng-model="userData.abuseShelter">
        </label>
        <label class="item item-input">
          <span class="input-label">I'm a veteran</span>
          <input type="checkbox" ng-model="userData.veteran">
        </label>
       <label class="item">
          <button class="button button-block"  ng-click="saveUser(userData)">Continue without saving</button>
        </label>
      </div>
        <label class="item">
          <button class="button button-block button-positive" ng-click="saveUser(userData)">Save</button>
        </label>
      </div>
      <script type="text/javascript">
        $("#seekerSelectionPanel").hide();
        $("#businessDataDiv").hide();
      </script>
    </form>
  </ion-content>
</ion-modal-view>
