/* Empty. Add your own CSS if you like */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.search-form {
  padding:2em;
  border-bottom: 0.1em solid #AAA;
}

.search-form label {
  font-size: 2em;
}

.search-form input {
  font-size: 2em;
  border: 0.1em solid #CCC;
}

.search-result {
  padding:2em;
  border-bottom: 0.05em solid #AAA;
}

.active-need {
  background: #0A0;
}
